@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
$montserrat-font: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
$sourcesanspro-font: 'Source Sans Pro';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$opensans-font: 'Open Sans';